.id-meeting {
    display: table-cell;
    vertical-align: middle;
    font-size: 8px;
}

.meeting {
    text-align: center;
    display: table;
    position: fixed;
    background-color: lightblue;
    border: 1px solid black;
    box-sizing: border-box;
}
