.id-meeting {
    font-size: 12px;
}

.meeting {
    text-align: center;
    display: grid;
    position: fixed;
    background-color: lightblue;
    border: 1px solid black;
    box-sizing: border-box;
}
